body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

@media (max-width: 768px) {
    .container {
        display: block;
    }
}